*{
    margin: 0;
    padding: 0;
}

body {
    /*base style for body section*/
    color: white;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
    margin-bottom: 10px;   
    background-image: url("../css/images/hero-bg2.jpg")
}

header {
    padding: 15px 30px;
    background-color: black;
    background-image: url("../css/images/hero-bg2.jpg");    
}

header h1 {
    float: left;
    font-weight: bold;
    font-size: 36px;
    color: darkgrey;
    display: inline;
}

header a {
    text-decoration: none;
    color: white;
}

nav {
    font-weight: bolder;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline-flex;
    margin: 0 30px;
    font-weight: bolder;
    font-size:large;
}

nav ul li a {
    font-weight: bolder;
}

footer {
    padding: 15px 30px;
    color: bisque;
    background-color: black;
    text-align: center;
}

section h2 {
    margin: 0;
    padding: 60px;
    text-align: center;
}

.body img {
    width: auto;
    align-items: center;
    border-radius: 0%;    
}

.horiseon img {
    image-resolution: 25px;
}

.contact-info h2 {
    margin-bottom: 0;
}
